body{margin:0;padding:0;font-size:12px;overflow:auto;background: url("../images/bg.jpg") repeat;background-size:cover;}
#mainDiv{width:100%;height:100%;}
#loveHeart{float:left;width:670px;height:625px}
#garden{width:100%;height:100%}
#elapseClock{text-align:right;font-size:18px;margin-top:10px;margin-bottom:10px}
#words{font-family:"sans-serif";width:500px;font-size:24px;font-weight:bolder;color:red;}
#messages{display:none}
#elapseClock .digit{font-family:"digit";font-size:36px}
#loveu{padding:5px;font-size:22px;margin-top:80px;margin-right:120px;text-align:right;display:none}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic}
#clickSound{display:none}
#code{float:left;margin-left:100px;margin-right:20px;margin-top:30px;word-wrap:break-word;width:440px;height:580px;color:#33F311;font-family:"华文宋体";font-size:12px;border:3px dotted blue;outline:10px inset #FF003B;}
#code .string{color:#2a36ff}
#code .keyword{color:#7f0055;font-weight:bold}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px}
#code .comments{color:#33F311;font-family:"华文彩云";padding-left:34px;}
#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0}
#copyright a{color:#666}